/target/
/.idea/dataSources/26cb7d4f-6a94-41b8-8cab-e71204d874b4.xml
/Cinema2.iml
/.idea/artifacts/Cinema2_war.xml
/.idea/artifacts/Cinema2_war_exploded.xml
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/dataSources/26cb7d4f-6a94-41b8-8cab-e71204d874b4/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_14_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_14_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_14_0.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_0_0.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
/.idea/libraries/Maven__junit_junit_4_11.xml
/.idea/libraries/Maven__org_attoparser_attoparser_2_0_6_RELEASE.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_5_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_2_Final.xml
/.idea/libraries/Maven__org_postgresql_postgresql_42_5_1.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_5.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_0_1.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_3_0_1.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_orm_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_23.xml
/.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_1_1_RELEASE.xml
/.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring5_3_1_1_RELEASE.xml
/.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/dataSources/26cb7d4f-6a94-41b8-8cab-e71204d874b4/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/26cb7d4f-6a94-41b8-8cab-e71204d874b4/storage_v2/_src_/database/postgres.edMnLQ.meta
/.idea/dataSources/26cb7d4f-6a94-41b8-8cab-e71204d874b4/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/.idea/runConfigurations.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
